<template>
<!-- 
  1- _Table_Sarlovhasi_ so`zi o`rniga Modul nomi almashtiriladi
  2- ###Router### joylariga routerni to`g`ri yozish
  3- Columnsni to`g`irlash
-->
  <div class="q-pa-md">
    <q-table
      title="Xodim"
      :rows="table_data"
      :rows-per-page-options="[20,40,80,100,0]"
      row-key="id"
      :columns="columns"
      :selected-rows-label="getSelectedString"
      selection="multiple"
      v-model:selected="MoreDeleteData"
    >
      <!-- Ma`lum bir katakdagi qiymatni shu yerdan berish 
      <template v-slot:body-cell-_kataknomi_="table_data">
        <q-td :table_data="table_data" align="left" width="20px">
          {{table_data.row._jsondagikeraklimalumot_}}
        </q-td>
      </template> -->

      <!-- Action ustuniga tugmalar qo`yish  -->
      <template v-slot:body-cell-action="table_data">
        <q-td :table_data="table_data" align="left" width="20px">
          <q-btn 
            color="green"
            icon="visibility"
            @click="ShowModal(table_data.row, 'View')"
            size="sm"
            danse
            class="q-ml-sm"
          />
          <q-btn
            v-if="$isPerCrud($route.path, 'update', JSON.stringify(this.$store.state.example.userPermission))"
            color="primary"
            icon="edit"
            @click="ShowModal(table_data.row, 'Update')"
            size="sm"
            danse
            class="q-ml-sm"
          />
          <q-btn
            v-if="$isPerCrud($route.path, 'delete', JSON.stringify(this.$store.state.example.userPermission))"
            color="red"
            icon="delete"
            @click="ShowDeleteModal(table_data.row)"
            size="sm"
            danse
            class="q-ml-sm"
          />
        </q-td>
      </template>
      <template v-slot:body-cell-rasm="table_data">
        <q-td :table_data="table_data" align="left" width="80px">
          <div v-if="table_data.row.rasm != null">
            <q-img
              :src="this.$host_local()+table_data.row.rasm"
              spinner-color="white"
              style="height: 60px; max-width: 60px"
              @click="ShowImageModal(table_data.row)"
            >
              <div class="absolute-full text-subtitle2 flex flex-center">
                <q-icon name="visibility" />
              </div>
            </q-img>
          </div>
        </q-td>
      </template>

      <template v-slot:top>
        <q-btn
          v-if="$isPerCrud($route.path, 'write', JSON.stringify(this.$store.state.example.userPermission))"
          color="primary"
          :disable="loading"
          icon="note_add"
          @click="ShowModal([], 'Create')"
        />
        <q-btn
          v-if="$isPerCrud($route.path, 'delete', JSON.stringify(this.$store.state.example.userPermission)) && MoreDeleteData.length"
          class="q-ml-sm"
          color="red"
          :disable="loading"
          @click="ShowMoreDeleteModal()"
        >
            <q-icon
              name="delete"
            />
            <q-icon
              name="task_alt"
            />
        </q-btn>
        <q-space />
        <q-input
          dense
          rounded
          standout="bg-info text-white"
          v-model="search_text"
          input-class="text-right"
          class="q-ml-md"
          v-on:keyup.enter="search_func()"
          v-on:keyup.esc="search_clear()"
        >
          <template v-slot:append>
            <q-icon name="search" @click="search_func()"/>
            <q-icon
              v-if="search_text != ''"
              name="clear"
              class="cursor-pointer"
              @click="search_clear()"
            />
          </template>
        </q-input>
      </template>
    </q-table>

    <!-- View Add Edit Dialog -->
    <q-dialog v-model="Modal" persistent>
      <q-layout view="hHh lpR fFf" container style="max-width: 350px; height:600px" class=" q-mb-md rounded-borders bg-white" @keyup.esc="Modal = false">
        <q-header class="bg-white">     
          <q-toolbar>
            <!-- <q-btn flat round dense icon="menu" /> -->
            <q-toolbar-title align="center"  class="text-primary bg-white">
              <div class="text-h6">{{ModalType}} Data</div>
            </q-toolbar-title>
          </q-toolbar>
        </q-header>

        <q-page-container>
          <q-page class="bg-white">
            <q-card-section class="q-pt-none">
              <div class="text-h7">Ism Familya</div>
              <q-input
                :disable="ModalType == 'View'" 
                dense 
                v-model="ModalData.ismi" 
                autofocus 
              />
            </q-card-section>
            <q-card-section class="q-pt-none" v-if="ModalType == 'Create'">
              <q-file color="teal" filled v-model="Files" label="Label">
                <template v-slot:prepend>
                  <q-icon name="cloud_upload" />
                </template>
              </q-file>
            </q-card-section>
            <q-card-section class="q-pt-none">
              <div class="text-h7">Lavozimi</div>
              <q-input
                :disable="ModalType == 'View'" 
                dense 
                v-model="ModalData.lavozimi" 
                autofocus 
              />
            </q-card-section>
            <q-card-section class="q-pt-none">
              <div class="text-h7">Telegram</div>
              <q-input
                :disable="ModalType == 'View'" 
                dense 
                v-model="ModalData.telegram" 
                autofocus 
              />
            </q-card-section>
            <q-card-section class="q-pt-none">
              <div class="text-h7">Whatsapp</div>
              <q-input
                :disable="ModalType == 'View'" 
                dense 
                v-model="ModalData.whatsapp" 
                autofocus 
              />
            </q-card-section>
            <q-card-section class="q-pt-none">
              <div class="text-h7">E-Pochta</div>
              <q-input
                :disable="ModalType == 'View'" 
                dense 
                v-model="ModalData.epochta" 
                autofocus 
              />
            </q-card-section>
            <q-card-section class="q-pt-none">
              <div class="text-h7">Telefon Raqam</div>
              <q-input
                :disable="ModalType == 'View'" 
                dense 
                v-model="ModalData.telnomer" 
                autofocus 
              />
            </q-card-section>
            <q-card-section class="q-pt-none" v-if="ModalType == 'View'">
              <div class="text-h7">Yaratilgan vaqti</div>
              <q-input
                :disable="ModalType == 'View'" 
                dense 
                v-model="ModalData.created_at" 
                autofocus 
              />
            </q-card-section>
            <q-card-section class="q-pt-none" v-if="ModalType == 'View'">
              <div class="text-h7">O`zgartilirgan vaqti</div>
              <q-input
                :disable="ModalType == 'View'" 
                dense 
                v-model="ModalData.updated_at" 
                autofocus 
              />
            </q-card-section>
          </q-page>
        </q-page-container>
        <q-footer  >
          <q-toolbar class="bg-white">
            <!-- <q-btn flat round dense icon="menu" /> -->
            <q-toolbar-title align="right"  class="text-primary bg-write bg-white">
              <q-btn flat :label="ModalType == 'Create' ? 'Yaratish' : 'Yangilash'" @click="SendModalData" v-if="ModalType != 'View'"/>
              <q-btn flat label="Bekor qilish" @click="Modal = false"/>
            </q-toolbar-title>
          </q-toolbar>
        </q-footer>
      </q-layout>
    </q-dialog>
    <!-- End View Add Edit Dialog -->

    <!-- Delete Dialog -->
    <q-dialog v-model="DeleteModal" persistent>
      <q-card style="min-width: 350px" @keyup.enter="SendDeleteData" @keyup.esc="DeleteModal = false">
        <q-card-section>
          <div class="text-h6">Ma`lumot o`chirish</div>
        </q-card-section>

        <q-card-section>
          <div class="text-h7">You agree to delete this information?</div>
        </q-card-section>
        
        <q-card-actions align="right" class="text-primary">
          <q-btn flat color="negative" label="O`chirish" @click="SendDeleteData"/>
          <q-btn flat label="Bekor qilish" @click="DeleteModal = false"/>
        </q-card-actions>
      </q-card>
    </q-dialog>
    <!-- End Delete Dialog -->

    <!-- More Delete Dialog -->
    <q-dialog v-model="MoreDeleteModal" persistent>
      <q-card style="min-width: 350px" @keyup.enter="SendMoreDeleteData" @keyup.esc="MoreDeleteModal = false">
        <q-card-section>
          <div class="text-h6">Ma`lumotlarni o`chirish</div>
        </q-card-section>

        <q-card-section>
          <div class="text-h7">You agree to delete this informations? Count: {{MoreDeleteData.length}}</div>
        </q-card-section>
        <q-card-actions align="right" class="text-primary">
          <q-btn flat color="negative" label="O`chirish" @click="SendMoreDeleteData"/>
          <q-btn flat label="Bekor Qilish" @click="MoreDeleteModal = false"/>
        </q-card-actions>
      </q-card>
    </q-dialog>
    <!-- End more Delete Dialog -->

    <!-- Image Dioalog -->
    <q-dialog v-model="ModalImage" persistent>
      <q-card style="min-width: 655px" @keyup.esc="ModalImage = false">
        <q-card-section>
          <div class="text-h6">Xodim Rasm</div>
        </q-card-section>
        <q-card-section>
            <img
              style="min-width: 625px;max-width: 625px; min-height: 625px;max-height: 625px;"
              :src="ModalImageData.rasm"
            >
        </q-card-section>
        <q-card-section>
            <q-file color="teal" filled v-model="Files" label="Label">
                <template v-slot:prepend>
                  <q-icon name="cloud_upload" />
                </template>
            </q-file>
        </q-card-section>
        <q-card-section>
            <q-btn color="red" label="Almashtirish" @click="rasm_upload()" :disabled="this.Files == null"/>
        </q-card-section>
        <q-card-actions align="right" class="text-primary">
          <q-btn flat label="Yopish" @click="ModalImage = false" />
        </q-card-actions>
        
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { defineComponent } from 'vue'
import axios from 'axios'

export default defineComponent({
  name: 'PageXodim',
  data() {
    return {
        permission: [],
        isPwd: true,
        search_text: '',
        table_data: [],
        table_data_default: [],
        columns: [
            {
                name: 'index',
                label: 'Tr',
                field: 'index',
                align: "left",
                style: 'width: 10px',
                sortable: true
            },
            {
                name: 'ismi',
                field: 'ismi',
                label: 'FIO',
                align: 'left',
                sortable: true,
            },
            {
                name: 'lavozimi',
                field: 'lavozimi',
                label: 'Lavozimi',
                align: 'left',
                sortable: true,
            },
            {
                name: 'telegram',
                field: 'telegram',
                label: 'Telegram',
                align: 'left',
                sortable: true,
            },
            {
                name: 'whatsapp',
                field: 'whatsapp',
                label: 'Whatsapp',
                align: 'left',
                sortable: true,
            },
            {
                name: 'epochta',
                field: 'epochta',
                label: 'E-pochta',
                align: 'left',
                sortable: true,
            },
            {
                name: 'telnomer',
                field: 'telnomer',
                label: 'Telefon Nomer',
                align: 'left',
                sortable: true,
            },
            {
                name: 'rasm',
                label: 'Rasm',
                align: 'left',
                style: 'width: 30px !important;',
            },
            {
                name: 'action',
                label: 'Action',
                align: 'left',
                style: 'width: 30px !important;',
            }
        ],
        ModalType: '',
        Modal: false,
        ModalData: null,
        DeleteModal: false,
        DeleteData: null,
        MoreDeleteModal: false,
        MoreDeleteData: [],
        Files: null,
        ModalImage: false,
        ModalImageData: null,
        rasm_index: 0,
    }
  },
  async mounted() {
    this.$q.loading.show()
    if(!this.$isPerCrud(this.$route.path, 'read', JSON.stringify(this.$store.state.example.userPermission))){
      this.$router.push('/').catch(() => {})
    }
    this.default_data_get()
    this.$q.loading.hide()
  },

  methods: {
    async default_data_get() {
      await axios.get(this.$host_local() +'/api/xodim/get_xodim').then((response) => {
        var data = response.data.data
        var table_data1 = []
        for(var i=0;i<data.length;i++){
          var json = {
            "index": i+1,
            "id": data[i].id,
            "ismi": data[i].ismi,
            "lavozimi": data[i].lavozimi,
            "telegram": data[i].telegram,
            "whatsapp": data[i].whatsapp,
            "epochta": data[i].epochta,
            "telnomer": data[i].telnomer,
            "deleted_at": data[i].deleted_at,
            "created_at": data[i].created_at,
            "updated_at": data[i].updated_at,
            "rasm": data[i].rasm
          }
          table_data1.push(json)
        }
        this.table_data = table_data1;
      }).catch((e)=>{
        var res = e.response
        this.$q.loading.hide()
        if(res.status == 401){
          this.$e("Avtorizaysiyada o`tmagansiz")
          this.$router.push('/login').then((s) => {}).catch((e) => {})
        }else{
          this.$e("Xatolik")
        }
        return false
      })
    },
    
    ShowModal(data, status){
      this.MoreDeleteData = []
      this.Files = null
      this.ModalType = status
      if(status == "Update" || status == "View"){
        this.ModalData={
          "index": data.index,
          "id": data.id,
          "ismi": data.ismi,
          "lavozimi": data.lavozimi,
          "telegram": data.telegram,
          "whatsapp": data.whatsapp,
          "epochta": data.epochta,
          "telnomer": data.telnomer,
          "deleted_at": data.deleted_at,
          "created_at": data.created_at,
          "updated_at": data.updated_at,
          "rasm": data.rasm
        }
        if(data.nomi_rus != undefined){
          this.lang_rus = true;
        }else{
          this.lang_rus = false;
        }
        if(data.nomi_eng != undefined){
          this.lang_eng = true;
        }else{
          this.lang_eng = false;
        }
      }else
      if(status =="Create"){
        this.lang_rus = false;
        this.lang_eng = false;
        this.ModalData={
          "index": '',
          "id": '-1',
          "ismi": '',
          "lavozimi": '',
          "telegram": '',
          "whatsapp": '',
          "epochta": '',
          "telnomer": '',
          "deleted_at": '',
          "created_at": '',
          "updated_at": '',
          "rasm": ''
        }
      }      
      this.Modal = true
    },

    async SendModalData(){
      this.$q.loading.show()
      var router = '';
      if(this.ModalType == "Update"){
        router = "/xodim/update_xodim";
      }else
      if(this.ModalType =="Create"){
        if(this.Files == null) {
            this.$q.loading.hide()
            return this.$e("Rasm joylamadingiz")
        }
        router = "/xodim/create_xodim";
      }
      await axios.post(this.$host_local() +"/api"+router, this.ModalData).then((res) => {
        if(res.status == 200 || res.status == 201){
          this.$s("Muvaffaqiyatli")
          this.Modal = false;
          if(res.status == 201){
            this.ModalData.id = res.data.id
          }
        }
      }).catch((e)=>{
        this.$q.loading.hide()
        var res = e.response
        if(res.status == 401){
          this.$e("Avtorizatsiyadan o`tmadingiz")
          this.$q.loading.hide()
          this.$router.push('/login').then((s) => {}).catch((e) => {})
        }else
        if(res.status == 422){
            if(res.data.errors.ismi){
              this.$e(res.data.errors.ismi[0])
            }
            if(res.data.errors.lavozimi){
              this.$e(res.data.errors.lavozimi[0])
            }
            if(res.data.errors.telegram){
              this.$e(res.data.errors.telegram[0])
            }
            if(res.data.errors.whatsapp){
              this.$e(res.data.errors.whatsapp[0])
            }
            if(res.data.errors.epochta){
              this.$e(res.data.errors.epochta[0])
            }
            if(res.data.errors.telnomer){
              this.$e(res.data.errors.telnomer[0])
            }
        }else{
            this.$e("Xatolik")
        } 
      })
      if(this.ModalType == "Create" && this.ModalData.id != -1){
        if(this.Files != null) {
          let formData = new FormData()
          formData.append('file', this.Files)
          formData.append('id',this.ModalData.id)
          await this.$axios({
                method: 'post',
                url: this.$host_local() +"/api/xodim/rasm_upload",
                data: formData,
                headers: {
                  'Content-Type': 'multipart/form-data'
                }
            })
            .then((re) => {

            })
            .catch((e) => {
                
            })
        }
      }
      this.table_data_default = []
      await this.default_data_get()
      this.search_func()
      this.$q.loading.hide()
    },

    ShowDeleteModal(data) {
      this.MoreDeleteData = []
      this.DeleteData={
        'id': data.id
      }
      this.DeleteModal = true
    },
    async SendDeleteData(){
      this.$q.loading.show()
      await axios.post(this.$host_local() +"/api/xodim/delete_xodim", this.DeleteData).then((res) => {
        if(res.status == 200){
          this.$s("Ma`lumot O`chirildi")
          this.DeleteModal = false;
        }
      }).catch((e)=>{
        this.$q.loading.hide()
        var res = e.response
        if(res.status == 401){
          this.$e("Avtorizatsiyadan o`tmagansiz")
          this.$q.loading.hide()
          this.$router.push('/login').then((s) => {}).catch((e) => {})
        }else
        if(res.status == 422){
            if(res.data.errors.id){
              this.$e(res.data.errors.id[0])
            }
        }else{
            this.$e("Xatolik")
        } 
      })
      this.table_data_default = []
      await this.default_data_get()
      this.search_func()
      this.$q.loading.hide()
    },

    ShowMoreDeleteModal(){
      this.MoreDeleteModal = true
    },
    async SendMoreDeleteData(){
      if(this.MoreDeleteData.length == 0){
        this.$e = "Malumot bo`sh"
        return 0
      }
      this.$q.loading.show()
      await axios.post(this.$host_local() +"/api/xodim/more_delete_xodim", this.MoreDeleteData).then((res) => {
        if(res.status == 200){
          console.log(res)
          this.$s("Ma`lumotlar o`chirildi")
          this.MoreDeleteModal = false;
          this.MoreDeleteData = []
        }
      }).catch((e)=>{
        this.$q.loading.hide()
        var res = e.response
        if(res.status == 401){
          this.$e("Avtorizatsiyadan o`tmagansiz")
          this.$q.loading.hide()
          this.$router.push('/login').then((s) => {}).catch((e) => {})
        }else
        if(res.status == 422){
            if(res.data.errors.id){
              this.$e(res.data.errors.id[0])
            }
        }else{
            this.$e("Xatolik")
        } 
      })
      this.table_data_default = []
      await this.default_data_get()
      this.search_func()
      this.$q.loading.hide()
    },

    search_func(){
      if(this.search_text != ""){
        if(this.table_data_default.length != 0){
          this.table_data = this.table_data_default
        }
        this.table_data_default = this.table_data
        var data = []
        for(var i=0;i<this.table_data.length;i++){
          var string1 = JSON.stringify(this.table_data[i]);
          if(this.search_text == "oqilgan"){
            if(string1.search(this.search_text) != -1 || string1.search("star") != -1){
              data.push(this.table_data[i]);
            }
          }else
          if(string1.search(this.search_text) != -1){
            data.push(this.table_data[i]);
          }
        }
        this.table_data = data
      }
    },

    search_clear(){
      if(this.search_text != ""){
        this.search_text = "";
        if(this.table_data_default.length != 0){
          this.table_data = this.table_data_default
          this.table_data_default = []
        }
      }
    },

    ShowImageModal(data){
      this.Files = null
      if(data.rasm == null) {
        this.ModalImage = false
        return 0;
      }

      this.ModalImageData = {
        "index": data.index,
        "id": data.id,
        "rasm": data.rasm
      }
      this.ModalImage = true
    },

    async rasm_upload(){
        let formData = new FormData()
        formData.append('file', this.Files)
        formData.append('id',this.ModalImageData.id)
        await this.$axios({
            method: 'post',
            url: this.$host_local() +"/api/xodim/rasm_upload",
            data: formData,
            headers: {
                'Content-Type': 'multipart/form-data'
            }
        })
        .then((res) => {
            this.$s("Muvaffaqiyatli almashtirildi")
            var index = this.ModalImageData.index - 1
            if(this.table_data_default.length != 0){
                this.table_data = this.table_data_default
            }
            this.table_data[index].rasm = res.data.data
            this.ModalImageData.rasm = res.data.data
            this.search_func()
            this.Files = null
        })
        .catch((e) => {
            this.$e("Xatolik")
        })
    }
  },
})
</script>