<template>
<!-- 
  1- _Table_Sarlovhasi_ so`zi o`rniga Modul nomi almashtiriladi
  2- ###Router### joylariga routerni to`g`ri yozish
  3- Columnsni to`g`irlash
-->
  <div class="q-pa-md">
    <q-table
      title="Avtomobil"
      :rows="table_data"
      :rows-per-page-options="[20,40,80,100,0]"
      row-key="id"
      :columns="columns"
      :selected-rows-label="getSelectedString"
      selection="multiple"
      v-model:selected="MoreDeleteData"
    >
      <!-- Ma`lum bir katakdagi qiymatni shu yerdan berish 
      <template v-slot:body-cell-_kataknomi_="table_data">
        <q-td :table_data="table_data" align="left" width="20px">
          {{table_data.row._jsondagikeraklimalumot_}}
        </q-td>
      </template> -->

      <!-- Action ustuniga tugmalar qo`yish  -->
      <template v-slot:body-cell-action="table_data">
        <q-td :table_data="table_data" align="left" width="20px">
          <q-btn 
            color="green"
            icon="visibility"
            @click="ShowModal(table_data.row, 'View')"
            size="sm"
            danse
            class="q-ml-sm"
          />
          <q-btn
            v-if="$isPerCrud($route.path, 'update', JSON.stringify(this.$store.state.example.userPermission))"
            color="primary"
            icon="edit"
            @click="ShowModal(table_data.row, 'Update')"
            size="sm"
            danse
            class="q-ml-sm"
          />
          <q-btn
            v-if="$isPerCrud($route.path, 'delete', JSON.stringify(this.$store.state.example.userPermission))"
            color="red"
            icon="delete"
            @click="ShowDeleteModal(table_data.row)"
            size="sm"
            danse
            class="q-ml-sm"
          />
        </q-td>
      </template>
      <template v-slot:body-cell-rasm="table_data">
        <q-td :table_data="table_data" align="left" width="80px">
          <div v-if="table_data.row.rasm.length != 0"> 
            <q-img
              :src="this.$host_local()+table_data.row.rasm[0].path"
              spinner-color="white"
              style="height: 60px; max-width: 60px"
              @click="ShowImageModal(table_data.row)"
            >
          
              <div class="absolute-full text-subtitle2 flex flex-center">
                <q-icon name="visibility" />
              </div>
            </q-img>
          </div>
        </q-td>
      </template>

      <template v-slot:top>
        <q-btn
          v-if="$isPerCrud($route.path, 'write', JSON.stringify(this.$store.state.example.userPermission))"
          color="primary"
          :disable="loading"
          icon="note_add"
          @click="ShowModal([], 'Create')"
        />
        <q-btn
          v-if="$isPerCrud($route.path, 'delete', JSON.stringify(this.$store.state.example.userPermission)) && MoreDeleteData.length"
          class="q-ml-sm"
          color="red"
          :disable="loading"
          @click="ShowMoreDeleteModal()"
        >
            <q-icon
              name="delete"
            />
            <q-icon
              name="task_alt"
            />
        </q-btn>
        <q-space />
        <q-input
          dense
          rounded
          standout="bg-info text-white"
          v-model="search_text"
          input-class="text-right"
          class="q-ml-md"
          v-on:keyup.enter="search_func()"
          v-on:keyup.esc="search_clear()"
        >
          <template v-slot:append>
            <q-icon name="search" @click="search_func()"/>
            <q-icon
              v-if="search_text != ''"
              name="clear"
              class="cursor-pointer"
              @click="search_clear()"
            />
          </template>
        </q-input>
      </template>
    </q-table>

    <!-- View Add Edit Dialog -->
    <q-dialog v-model="Modal" persistent>
      <q-layout view="hHh lpR fFf" container style="max-width: 350px; height:600px" class=" q-mb-md rounded-borders bg-white" @keyup.esc="Modal = false">
        <q-header class="bg-white">     
          <q-toolbar>
            <!-- <q-btn flat round dense icon="menu" /> -->
            <q-toolbar-title align="center"  class="text-primary bg-white">
              <div class="text-h6">{{ModalType}} Data</div>
              <q-toggle v-if="ModalType != 'View'" v-model="lang_rus" label="Rus" />
              <q-toggle v-if="ModalType != 'View'" v-model="lang_eng" label="Eng" />
            </q-toolbar-title>
          </q-toolbar>
        </q-header>

        <q-page-container>
          <q-page class="bg-white">
            <q-card-section class="q-pt-none">
              <div class="text-h7">Avtomobil Nomi</div>
              <q-input
                :disable="ModalType == 'View'" 
                dense 
                v-model="ModalData.avtnomi" 
                autofocus 
              />
            </q-card-section>
            <q-card-section class="q-pt-none" v-if="ModalType != 'View'">
              <q-file color="teal" multiple filled v-model="Files" label="Label" >
                <template v-slot:prepend>
                  <q-icon name="cloud_upload" />
                </template>
              </q-file>
            </q-card-section>
            <q-card-section class="q-pt-none">
              <div class="text-h7">Qabul Hajmi</div>
              <q-input
                :disable="ModalType == 'View'" 
                dense 
                v-model="ModalData.hajm" 
                autofocus 
              />
            </q-card-section>
            <q-card-section class="q-pt-none">
              <div class="text-h7">Chakana Narxi(so`mda)</div>
              <q-input
                :disable="ModalType == 'View'" 
                dense 
                v-model="ModalData.chakana" 
                autofocus 
              />
            </q-card-section>
            <q-card-section class="q-pt-none">
              <div class="text-h7">Ulgurji Narxi(so`mda)</div>
              <q-input
                :disable="ModalType == 'View'" 
                dense 
                v-model="ModalData.ulgurji" 
                autofocus 
              />
            </q-card-section>
            <q-card-section class="q-pt-none">
              <div class="text-h7">Ulgurji uchun kuni</div>
              <q-input
                :disable="ModalType == 'View'" 
                dense 
                v-model="ModalData.ulgurji_vaqt" 
                autofocus 
              />
            </q-card-section>
            <q-card-section class="q-pt-none">
              <div class="text-h7">Avtomobil Tavsifi Uzbek tilida</div>
              <q-input
                type="textarea"
                :disable="ModalType == 'View'" 
                dense 
                v-model="ModalData.izoh_uzb" 
                autofocus 
              />
            </q-card-section>
            <q-card-section class="q-pt-none" v-show="lang_rus">
              <div class="text-h7">Avtomobil Tavsifi Rus tilida</div>
              <q-input
                type="textarea"
                :disable="ModalType == 'View'" 
                dense 
                v-model="ModalData.izoh_rus" 
                autofocus 
              />
            </q-card-section>
            <q-card-section class="q-pt-none" v-show="lang_eng">
              <div class="text-h7">Avtomobil Tavsifi Ingliz tilida</div>
              <q-input
                type="textarea"
                :disable="ModalType == 'View'" 
                dense 
                v-model="ModalData.izoh_eng" 
                autofocus 
              />
            </q-card-section>
            <q-card-section class="q-pt-none">
              <div class="text-h7">To`lov Shartlari Uzbek tilida</div>
              <q-input
                type="textarea"
                :disable="ModalType == 'View'" 
                dense 
                v-model="ModalData.tolov_uzb" 
                autofocus 
              />
            </q-card-section>
            <q-card-section class="q-pt-none" v-show="lang_rus">
              <div class="text-h7">To`lov Shartlari Rus tilida</div>
              <q-input
                type="textarea"
                :disable="ModalType == 'View'" 
                dense 
                v-model="ModalData.tolov_rus" 
                autofocus 
              />
            </q-card-section>
            <q-card-section class="q-pt-none" v-show="lang_eng">
              <div class="text-h7">To`lov Shartlari Ingliz tilida</div>
              <q-input
                type="textarea"
                :disable="ModalType == 'View'" 
                dense 
                v-model="ModalData.tolov_eng" 
                autofocus 
              />
            </q-card-section>
            <q-card-section class="q-pt-none" v-if="ModalType == 'View'">
              <div class="text-h7">Yaratilgan vaqti</div>
              <q-input
                :disable="ModalType == 'View'" 
                dense 
                v-model="ModalData.created_at" 
                autofocus 
              />
            </q-card-section>
            <q-card-section class="q-pt-none" v-if="ModalType == 'View'">
              <div class="text-h7">O`zgartilirgan vaqti</div>
              <q-input
                :disable="ModalType == 'View'" 
                dense 
                v-model="ModalData.updated_at" 
                autofocus 
              />
            </q-card-section>
          </q-page>
        </q-page-container>
        
        <q-footer  >
          <q-toolbar class="bg-white">
            <!-- <q-btn flat round dense icon="menu" /> -->
            <q-toolbar-title align="right"  class="text-primary bg-write bg-white">
              <q-btn flat :label="ModalType == 'Create' ? 'Yaratish' : 'Yangilash'" @click="SendModalData" v-if="ModalType != 'View'"/>
              <q-btn flat label="Bekor qilish" @click="Modal = false"/>
            </q-toolbar-title>
          </q-toolbar>
        </q-footer>
      </q-layout>
    </q-dialog>
    <!-- End View Add Edit Dialog -->

    <!-- Delete Dialog -->
    <q-dialog v-model="DeleteModal" persistent>
      <q-card style="min-width: 350px" @keyup.enter="SendDeleteData" @keyup.esc="DeleteModal = false">
        <q-card-section>
          <div class="text-h6">Ma`lumot o`chirish</div>
        </q-card-section>

        <q-card-section>
          <div class="text-h7">You agree to delete this information?</div>
        </q-card-section>
        
        <q-card-actions align="right" class="text-primary">
          <q-btn flat color="negative" label="O`chirish" @click="SendDeleteData"/>
          <q-btn flat label="Bekor qilish" @click="DeleteModal = false"/>
        </q-card-actions>
      </q-card>
    </q-dialog>
    <!-- End Delete Dialog -->

    <!-- More Delete Dialog -->
    <q-dialog v-model="MoreDeleteModal" persistent>
      <q-card style="min-width: 350px" @keyup.enter="SendMoreDeleteData" @keyup.esc="MoreDeleteModal = false">
        <q-card-section>
          <div class="text-h6">Ma`lumotlarni o`chirish</div>
        </q-card-section>

        <q-card-section>
          <div class="text-h7">You agree to delete this informations? Count: {{MoreDeleteData.length}}</div>
        </q-card-section>
        <q-card-actions align="right" class="text-primary">
          <q-btn flat color="negative" label="O`chirish" @click="SendMoreDeleteData"/>
          <q-btn flat label="Bekor Qilish" @click="MoreDeleteModal = false"/>
        </q-card-actions>
      </q-card>
    </q-dialog>
    <!-- End more Delete Dialog -->

    <!-- Image Dioalog -->
    <q-dialog v-model="ModalImage" persistent>
      <q-card style="min-width: 655px" @keyup.esc="ModalImage = false">
        <q-card-section>
          <div class="text-h6">Rasmlar</div>
        </q-card-section>
        <q-card-section>
            <img
              style="min-width: 625px;max-width: 625px; min-height: 625px;max-height: 625px;"
              :src="ModalImageData.rasm[rasm_index].path"
            >
        </q-card-section>
        <q-card-section>
          <q-btn style="margin-right: 30px;" color="primary" label="Oldingi" :disabled="rasm_index == 0 ? true : false" @click="rasm_index--"/>
          <q-btn style="margin-right: 30px;" color="primary" label="Keyingi" :disabled="rasm_index == ModalImageData.rasm.length-1 ? true : false" @click="rasm_index++"/>
          <q-btn style="margin-right: 30px;" color="red" label="O`chirish" @click="DeleteImage()"/>
        </q-card-section>
        <q-card-actions align="right" class="text-primary">
          <q-btn flat label="Yopish" @click="ModalImage = false" />
        </q-card-actions>
        
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { defineComponent } from 'vue'
import axios from 'axios'
import { ref } from 'vue'

export default defineComponent({
  name: 'PageAvtomobil',
  data() {
    return {
        permission: [],
        isPwd: true,
        search_text: '',
        table_data: [],
        table_data_default: [],
        columns: [
            {
                name: 'index',
                label: 'Tr',
                field: 'index',
                align: "left",
                style: 'width: 10px',
                sortable: true
            },
            {
                name: 'avtnomi',
                field: 'avtnomi',
                label: 'Avtomobil nomi',
                align: 'left',
                sortable: true,
            },
            {
                name: 'hajm',
                field: 'hajm',
                label: 'Qabul hajmi',
                align: 'left',
                sortable: true,
            },
            {
                name: 'chakana',
                field: 'chakana',
                label: 'Narxi(So`m)',
                align: 'left',
                sortable: true,
            },
            {
                name: 'ulgurji',
                field: 'ulgurji',
                label: 'Ulgurji(So`m)',
                align: 'left',
                sortable: true,
            },
            {
                name: 'ulgurji_vaqt',
                field: 'ulgurji_vaqt',
                label: 'Ulgurji Vaqt',
                align: 'left',
                sortable: true,
            },
            {
                name: 'rasm',
                label: 'Rasm',
                align: 'left',
                style: 'width: 30px !important;',
            },
            {
                name: 'action',
                label: 'Action',
                align: 'left',
                style: 'width: 30px !important;',
            }
        ],
        ModalType: '',
        Modal: false,
        ModalData: null,
        DeleteModal: false,
        DeleteData: null,
        MoreDeleteModal: false,
        MoreDeleteData: [],
        lang_rus: false,
        lang_eng: false,
        Files: null,
        ModalImage: false,
        ModalImageData: null,
        rasm_index: 0,
    }
  },
  async mounted() {
    this.$q.loading.show()
    if(!this.$isPerCrud(this.$route.path, 'read', JSON.stringify(this.$store.state.example.userPermission))){
      this.$router.push('/').catch(() => {})
    }
    this.default_data_get()
    this.$q.loading.hide()
  },

  methods: {
    async default_data_get() {
      await axios.get(this.$host_local() +'/api/avtxizmat/get_avtxizmat').then((response) => {
        var data = response.data.data
        var table_data1 = []
        for(var i=0;i<data.length;i++){
          var json = {
            "index": i+1,
            "id": data[i].id,
            "avtnomi": data[i].avtnomi,
            "hajm": data[i].hajm,
            "chakana": data[i].chakana,
            "ulgurji": data[i].ulgurji,
            "ulgurji_vaqt": data[i].ulgurji_vaqt,
            "izoh_uzb": data[i].izoh_uzb,
            "izoh_rus": data[i].izoh_rus,
            "izoh_eng": data[i].izoh_eng,
            "tolov_uzb": data[i].tolov_uzb,
            "tolov_rus": data[i].tolov_rus,
            "tolov_eng": data[i].tolov_eng,
            "deleted_at": data[i].deleted_at,
            "created_at": data[i].created_at,
            "updated_at": data[i].updated_at,
            "rasm": data[i].avtxizmatrasm
          }
          table_data1.push(json)
        }
        this.table_data = table_data1;
      }).catch((e)=>{
        var res = e.response
        this.$q.loading.hide()
        if(res.status == 401){
          this.$e("Avtorizaysiyada o`tmagansiz")
          this.$router.push('/login').then((s) => {}).catch((e) => {})
        }else{
          this.$e("Xatolik")
        }
        return false
      })
    },
    
    ShowModal(data, status){
        this.MoreDeleteData = []
        this.Files = []
        this.ModalType = status
        if(status == "Update" || status == "View"){
            this.ModalData={
                "index": data.index,
                "id": data.id,
                "avtnomi": data.avtnomi,
                "hajm": data.hajm,
                "chakana": data.chakana,
                "ulgurji": data.ulgurji,
                "ulgurji_vaqt": data.ulgurji_vaqt,
                "izoh_uzb": data.izoh_uzb,
                "izoh_rus": data.izoh_rus,
                "izoh_eng": data.izoh_eng,
                "tolov_uzb": data.tolov_uzb,
                "tolov_rus": data.tolov_rus,
                "tolov_eng": data.tolov_eng,
                "deleted_at": data.deleted_at,
                "created_at": data.created_at,
                "updated_at": data.updated_at
            }
        if(data.nomi_rus != undefined){
          this.lang_rus = true;
        }else{
          this.lang_rus = false;
        }
        if(data.nomi_eng != undefined){
          this.lang_eng = true;
        }else{
          this.lang_eng = false;
        }
        }else
        if(status =="Create"){
            this.lang_rus = false;
            this.lang_eng = false;
            this.ModalData={
                "index": '',
                "id": '-1',
                "avtnomi": '',
                "hajm": '',
                "chakana": '',
                "ulgurji": '',
                "ulgurji_vaqt": '',
                "izoh_uzb": '',
                "izoh_rus": '',
                "izoh_eng": '',
                "tolov_uzb": '',
                "tolov_rus": '',
                "tolov_eng": '',
                "deleted_at": '',
                "created_at": '',
                "updated_at": ''
            }
        }      
        this.Modal = true
    },

    async SendModalData(){
      this.$q.loading.show()
      var router = '';
      if(this.ModalType == "Update"){
        router = "/avtxizmat/update_avtxizmat";
      }else
      if(this.ModalType =="Create"){
        router = "/avtxizmat/create_avtxizmat";
      }
      await axios.post(this.$host_local() +"/api"+router, this.ModalData).then((res) => {
        if(res.status == 200 || res.status == 201){
          this.$s("Muvaffaqiyatli")
          this.Modal = false;
          if(res.status == 201){
            this.ModalData.id = res.data.id
          }
        }
      }).catch((e)=>{
        this.$q.loading.hide()
        var res = e.response
        if(res.status == 401){
          this.$e("Avtorizatsiyadan o`tmadingiz")
          this.$q.loading.hide()
          this.$router.push('/login').then((s) => {}).catch((e) => {})
        }else
        if(res.status == 422){
            if(res.data.errors.avtnomi){
              this.$e(res.data.errors.avtnomi[0])
            }
            if(res.data.errors.hajm){
              this.$e(res.data.errors.hajm[0])
            }
            if(res.data.errors.chakana){
              this.$e(res.data.errors.chakana[0])
            }
            if(res.data.errors.ulgurji){
              this.$e(res.data.errors.ulgurji[0])
            }
            if(res.data.errors.ulgurji_vaqt){
              this.$e(res.data.errors.ulgurji_vaqt[0])
            }
            if(res.data.errors.izoh_uzb){
              this.$e(res.data.errors.izoh_uzb[0])
            }
            if(res.data.errors.tolov_uzb){
              this.$e(res.data.errors.tolov_uzb[0])
            }
        }else{
            this.$e("Xatolik")
        } 
      })
      if(this.ModalData.id != -1){
        //console.log(this.Files)
        for (let i = 0; i < this.Files.length; i++) {
          let formData = new FormData()
          //console.log(this.Files[i])
          formData.append('file', this.Files[i])
          formData.append('avt_xizmat_id',this.ModalData.id)
          await this.$axios({
                method: 'post',
                url: this.$host_local() +"/api/avtxizmat/avtxizmatrasm_upload",
                data: formData,
                headers: {
                  'Content-Type': 'multipart/form-data'
                }
            })
            .then((re) => {

            })
            .catch((e) => {

            })
        }
      }
      if(this.ModalType == "Create" && this.Files == null){
        this.$w("Bu Avtomobilga Rasm qo`shmadingiz")
      } 
      this.table_data_default = []
      await this.default_data_get()
      this.search_func()
      this.$q.loading.hide()
    },

    ShowDeleteModal(data) {
      this.MoreDeleteData = []
      this.DeleteData={
        'id': data.id
      }
      this.DeleteModal = true
    },
    async SendDeleteData(){
      this.$q.loading.show()
      await axios.post(this.$host_local() +"/api/avtxizmat/delete_avtxizmat", this.DeleteData).then((res) => {
        if(res.status == 200){
          this.$s("Ma`lumot O`chirildi")
          this.DeleteModal = false;
        }
      }).catch((e)=>{
        this.$q.loading.hide()
        var res = e.response
        if(res.status == 401){
          this.$e("Avtorizatsiyadan o`tmagansiz")
          this.$q.loading.hide()
          this.$router.push('/login').then((s) => {}).catch((e) => {})
        }else
        if(res.status == 422){
            if(res.data.errors.id){
              this.$e(res.data.errors.id[0])
            }
        }else{
            this.$e("Xatolik")
        } 
      })
      this.table_data_default = []
      await this.default_data_get()
      this.search_func()
      this.$q.loading.hide()
    },

    ShowMoreDeleteModal(){
      this.MoreDeleteModal = true
    },
    async SendMoreDeleteData(){
      if(this.MoreDeleteData.length == 0){
        this.$e = "Malumot bo`sh"
        return 0
      }
      this.$q.loading.show()
      await axios.post(this.$host_local() +"/api/avtxizmat/more_delete_avtxizmat", this.MoreDeleteData).then((res) => {
        if(res.status == 200){
          console.log(res)
          this.$s("Ma`lumotlar o`chirildi")
          this.MoreDeleteModal = false;
          this.MoreDeleteData = []
        }
      }).catch((e)=>{
        this.$q.loading.hide()
        var res = e.response
        if(res.status == 401){
          this.$e("Avtorizatsiyadan o`tmagansiz")
          this.$q.loading.hide()
          this.$router.push('/login').then((s) => {}).catch((e) => {})
        }else
        if(res.status == 422){
            if(res.data.errors.id){
              this.$e(res.data.errors.id[0])
            }
        }else{
            this.$e("Xatolik")
        } 
      })
      this.table_data_default = []
      await this.default_data_get()
      this.search_func()
      this.$q.loading.hide()
    },

    search_func(){
      if(this.search_text != ""){
        if(this.table_data_default.length != 0){
          this.table_data = this.table_data_default
        }
        this.table_data_default = this.table_data
        var data = []
        for(var i=0;i<this.table_data.length;i++){
          var string1 = JSON.stringify(this.table_data[i]);
          if(this.search_text == "oqilgan"){
            if(string1.search(this.search_text) != -1 || string1.search("star") != -1){
              data.push(this.table_data[i]);
            }
          }else
          if(string1.search(this.search_text) != -1){
            data.push(this.table_data[i]);
          }
        }
        this.table_data = data
      }
    },

    search_clear(){
      if(this.search_text != ""){
        this.search_text = "";
        if(this.table_data_default.length != 0){
          this.table_data = this.table_data_default
          this.table_data_default = []
        }
      }
    },

    ShowImageModal(data){
      this.Files = null
      this.rasm_index = 0
      if(data.rasm.length == 0) {
        this.ModalImage = false
        return 0;
      }

      this.ModalImageData = {
        "index": data.index,
        "id": data.id,
        "rasm": data.rasm
      }
      this.ModalImage = true
    },

    async DeleteImage(){
      this.$q.loading.show()
      await axios.post(this.$host_local() +"/api/avtxizmat/avtxizmatrasm_delete", {"file": this.ModalImageData.rasm[this.rasm_index].path}).then((res) => {
        if(res.status == 200){
          this.$s("Rasm O`chirildi")
          if(this.search_text != ""){
            var index = -1;
            for(var i=0;i<this.table_data.length;i++){
              if(this.table_data[i].id == this.ModalImageData.id){
                index = i
                this.table_data[index].rasm.splice(this.rasm_index,1)
                this.ModalImage = false
                this.ShowImageModal(this.table_data[index])
                break
              }
            }
          }
          else{
            this.table_data[this.ModalImageData.index-1].rasm.splice(this.rasm_index,1)
            this.ModalImage = false
            this.ShowImageModal(this.table_data[this.ModalImageData.index-1])
          }
          
        }
      }).catch((e)=>{
        this.$q.loading.hide()
        console.log(e)
        var res = e.response
        if(res.status == 401){
          this.$e("Avtorizatsiyadan o`tmagansiz")
          this.$q.loading.hide()
          this.$router.push('/login').then((s) => {}).catch((e) => {})
        }else
        if(res.status == 422){
            if(res.data.errors.file){
              this.$e(res.data.errors.id[0])
            }
        }else
        if(res.status == 402){
            this.$e(res.data)
        }else{
            this.$e("Xatolik")
        } 
      })
      this.$q.loading.hide()
    }
  },
})
</script>