<template>
  <div class="q-pa-md">
    <q-table
      title="Mahsulot"
      :rows="table_data"
      :rows-per-page-options="[20,40,80,100,0]"
      row-key="id"
      :columns="columns"
      :selected-rows-label="getSelectedString"
      selection="multiple"
      v-model:selected="MoreDeleteData"
    >
      <!-- Ma`lum bir katakdagi qiymatni shu yerdan berish
      <template v-slot:body-cell-_kataknomi_="table_data">
        <q-td :table_data="table_data" align="left" width="20px">
          {{table_data.row._jsondagikeraklimalumot_}}
        </q-td>
      </template> -->

      <!-- Action ustuniga tugmalar qo`yish  -->
      <template v-slot:body-cell-action="table_data">
        <q-td :table_data="table_data" align="left" width="20px">
          <q-btn
            color="green"
            icon="visibility"
            @click="ShowModal(table_data.row, 'View')"
            size="sm"
            danse
            class="q-ml-sm"
          />
          <q-btn
            v-if="$isPerCrud($route.path, 'update', JSON.stringify(this.$store.state.example.userPermission))"
            color="primary"
            icon="edit"
            @click="ShowModal(table_data.row, 'Update')"
            size="sm"
            danse
            class="q-ml-sm"
          />
          <q-btn
            v-if="$isPerCrud($route.path, 'delete', JSON.stringify(this.$store.state.example.userPermission))"
            color="red"
            icon="delete"
            @click="ShowDeleteModal(table_data.row)"
            size="sm"
            danse
            class="q-ml-sm"
          />
        </q-td>
      </template>
      <template v-slot:body-cell-rasm="table_data">
        <q-td :table_data="table_data" align="left" width="80px">
          <div v-if="table_data.row.rasm.length != 0">
            <q-img
              :src="this.$host_local()+table_data.row.rasm[0].path"
              spinner-color="white"
              style="height: 60px; max-width: 60px"
              @click="ShowImageModal(table_data.row)"
            >
         
              <div class="absolute-full text-subtitle2 flex flex-center">
                <q-icon name="visibility" />
              </div>
            </q-img>
          </div>
        </q-td>
      </template>

      <template v-slot:top>
        <q-btn
          v-if="$isPerCrud($route.path, 'write', JSON.stringify(this.$store.state.example.userPermission))"
          color="primary"
          :disable="loading"
          icon="note_add"
          @click="ShowModal([], 'Create')"
        />
        <q-btn
          v-if="$isPerCrud($route.path, 'delete', JSON.stringify(this.$store.state.example.userPermission)) && MoreDeleteData.length"
          class="q-ml-sm"
          color="red"
          :disable="loading"
          @click="ShowMoreDeleteModal()"
        >
            <q-icon
              name="delete"
            />
            <q-icon
              name="task_alt"
            />
        </q-btn>
        <q-space />
        <q-input
          dense
          rounded
          standout="bg-info text-white"
          v-model="search_text"
          input-class="text-right"
          class="q-ml-md"
          v-on:keyup.enter="search_func()"
          v-on:keyup.esc="search_clear()"
        >
          <template v-slot:append>
            <q-icon name="search" @click="search_func()"/>
            <q-icon
              v-if="search_text != ''"
              name="clear"
              class="cursor-pointer"
              @click="search_clear()"
            />
          </template>
        </q-input>
      </template>
    </q-table>

    <!-- View Add Edit Dialog -->
    <q-dialog v-model="Modal" persistent>
      <q-layout view="hHh lpR fFf" container style="max-width: 550px; height:600px" class=" q-mb-md rounded-borders bg-white" @keyup.esc="Modal = false">
        <q-header class="bg-white">    
          <q-toolbar>
            <!-- <q-btn flat round dense icon="menu" /> -->
            <q-toolbar-title align="center"  class="text-primary bg-white">
              <div class="text-h6">{{ModalType}} Data</div>
              <q-toggle v-if="ModalType != 'View'" v-model="lang_rus" label="Rus" />
              <q-toggle v-if="ModalType != 'View'" v-model="lang_eng" label="Eng" />
            </q-toolbar-title>
          </q-toolbar>
        </q-header>

        <q-page-container>
          <q-page class="bg-white">
            <q-card-section class="q-pt-none">
              <div class="text-h7">Nomi Uzbek tilida</div>
              <q-input
                :disable="ModalType == 'View'"
                dense
                v-model="ModalData.nomi_uzb"
                autofocus
                :rules="[val => !!val || 'To`ldirilsin', val => val.length <= 255 || '255 belgidan oshmasin']"
              />
            </q-card-section>
            <q-card-section class="q-pt-none" v-show="lang_rus">
              <div class="text-h7">Nomi Rus tilida</div>
              <q-input
                :disable="ModalType == 'View'"
                dense
                v-model="ModalData.nomi_rus"
                autofocus
                :rules="[val => !!val || 'To`ldirilsin', val => val.length <= 255 || '255 belgidan oshmasin']"
              />
            </q-card-section>
            <q-card-section class="q-pt-none" v-show="lang_eng">
              <div class="text-h7">Nomi Ingliz tilida</div>
              <q-input
                :disable="ModalType == 'View'"
                dense
                v-model="ModalData.nomi_eng"
                autofocus
                :rules="[val => !!val || 'To`ldirilsin', val => val.length <= 255 || '255 belgidan oshmasin']"
              />
            </q-card-section>
            <q-card-section class="q-pt-none">
              <div class="text-h7">Reklama Saytidagi Url manzili</div>
              <q-input
                :disable="ModalType == 'View'"
                dense
                v-model="ModalData.link"
                autofocus
                hint="https://www.site.com/first_post"
                :rules="[val => !!val || 'To`ldirilsin', val => val.length <= 255 || '255 belgidan oshmasin']"
              />
            </q-card-section>
            <q-card-section class="q-pt-none" v-if="ModalType != 'View'">
              <q-file color="teal" multiple filled v-model="Files" label="Rasm Yuklash" :rules="[val => !!val || 'Rasm Yuklansin']">
                <template v-slot:prepend>
                  <q-icon name="cloud_upload" />
                </template>
              </q-file>
            </q-card-section>
            <q-card-section class="q-pt-none">
              <div class="text-h7">Navi</div>
              <q-select
                filled
                :disable="ModalType == 'View'"
                v-model="ModalData.sort"
                :options="['1','2','3']"
                label="Navi"
                emit-value
                map-options
                :rules="[val => !!val || 'To`ldirilsin', val => val.length <= 255 || '255 belgidan oshmasin']"
              />
            </q-card-section>
            <q-card-section class="q-pt-none">
              <div class="text-h7">Faolligi</div>
              <q-input
                :disable="ModalType == 'View'"
                dense
                v-model="ModalData.aktiv"
                autofocus
                hint="## mm3/second"
                :rules="[val => !!val || 'To`ldirilsin', val => val.length <= 255 || '255 belgidan oshmasin']"
              />
            </q-card-section>
            <q-card-section class="q-pt-none">
              <div class="text-h7">Hajmi</div>
              <q-input
                :disable="ModalType == 'View'"
                dense
                v-model="ModalData.hajm"
                autofocus
                hint="## mm3,## sm3"
                :rules="[val => !!val || 'To`ldirilsin', val => val.length <= 255 || '255 belgidan oshmasin']"
              />
            </q-card-section>
            <q-card-section class="q-pt-none">
              <div class="text-h7">GOST raqami</div>
              <q-input
                :disable="ModalType == 'View'"
                dense
                v-model="ModalData.gost"
                autofocus
                hint="O'z Dst ####:#### ГОСТ #####-##"
                :rules="[val => !!val || 'To`ldirilsin', val => val.length <= 255 || '255 belgidan oshmasin']"
              />
            </q-card-section>
            <q-card-section class="q-pt-none">
              <div class="text-h7">Chakana Narxi</div>
              <q-input
                :disable="ModalType == 'View'"
                dense
                v-model="ModalData.chakana"
                autofocus
                mask="###, ###, ###, ###, ###, ###, ###"
                reverse-fill-mask
                prefix="Uzb So'm"
                hint="###, ###"
                :rules="[val => !!val || 'To`ldirilsin', val => val.length <= 255 || '255 belgidan oshmasin']"
              />
            </q-card-section>
            <q-card-section class="q-pt-none">
              <div class="text-h7">Ulgurji Narxi</div>
              <q-input
                :disable="ModalType == 'View'"
                dense
                v-model="ModalData.ulgurji"
                autofocus
                mask="###, ###, ###, ###, ###, ###, ###"
                reverse-fill-mask
                prefix="Uzb So'm"
                hint="###, ###"
                :rules="[val => !!val || 'To`ldirilsin', val => val.length <= 255 || '255 belgidan oshmasin']"
              />
            </q-card-section>
            <q-card-section class="q-pt-none">
              <div class="text-h7">Ulgurji Og`irlik</div>
              <q-input
                :disable="ModalType == 'View'"
                dense
                v-model="ModalData.ulgurji_kg"
                autofocus
                mask="###, ###, ###, ###, ###, ###, ###"
                reverse-fill-mask
                prefix="kg"
                hint="###, ###"
                :rules="[val => !!val || 'To`ldirilsin', val => val.length <= 255 || '255 belgidan oshmasin']"
              />
            </q-card-section>
            <q-card-section class="q-pt-none">
              <div class="text-h7">Chet El uchun Narxi</div>
              <q-input
                :disable="ModalType == 'View'"
                dense
                v-model="ModalData.chet_valyuta"
                autofocus
                mask="###, ###, ###, ###, ###, ###, ###"
                reverse-fill-mask
                prefix="$"
                hint="###, ###"
                :rules="[val => !!val || 'To`ldirilsin', val => val.length <= 255 || '255 belgidan oshmasin']"
              />
            </q-card-section>
            <q-card-section class="q-pt-none">
              <div class="text-h7">Qoplash</div>
              <q-input
                :disable="ModalType == 'View'"
                dense
                v-model="ModalData.qop"
                autofocus
                hint="##-##, ##, ##"
                :rules="[val => !!val || 'To`ldirilsin', val => val.length <= 255 || '255 belgidan oshmasin']"
              />
            </q-card-section>
            <q-card-section class="q-pt-none">
              <div class="text-h7">Mahsulot Tavsifi Uzbek tilida</div>
              <q-input
                type="textarea"
                :disable="ModalType == 'View'"
                dense
                v-model="ModalData.tavsif_uzb"
                autofocus
                :rules="[val => !!val || 'To`ldirilsin', val => val.length <= 255 || '255 belgidan oshmasin']"
              />
            </q-card-section>
            <q-card-section class="q-pt-none" v-show="lang_rus">
              <div class="text-h7">Mahsulot Tavsifi Rus tilida</div>
              <q-input
                type="textarea"
                :disable="ModalType == 'View'"
                dense
                v-model="ModalData.tavsif_rus"
                autofocus
                :rules="[val => !!val || 'To`ldirilsin', val => val.length <= 255 || '255 belgidan oshmasin']"
              />
            </q-card-section>
            <q-card-section class="q-pt-none" v-show="lang_eng">
              <div class="text-h7">Mahsulot Tavsifi Ingliz tilida</div>
              <q-input
                type="textarea"
                :disable="ModalType == 'View'"
                dense
                v-model="ModalData.tavsif_eng"
                autofocus
                :rules="[val => !!val || 'To`ldirilsin', val => val.length <= 255 || '255 belgidan oshmasin']"
              />
            </q-card-section>
            <q-card-section class="q-pt-none">
              <div class="text-h7">To`lov Shartlari Uzbek tilida</div>
              <q-input
                type="textarea"
                :disable="ModalType == 'View'"
                dense
                v-model="ModalData.tolov_uzb"
                autofocus
                :rules="[val => !!val || 'To`ldirilsin', val => val.length <= 255 || '255 belgidan oshmasin']"
              />
            </q-card-section>
            <q-card-section class="q-pt-none" v-show="lang_rus">
              <div class="text-h7">To`lov Shartlari Rus tilida</div>
              <q-input
                type="textarea"
                :disable="ModalType == 'View'"
                dense
                v-model="ModalData.tolov_rus"
                autofocus
                :rules="[val => !!val || 'To`ldirilsin', val => val.length <= 255 || '255 belgidan oshmasin']"
              />
            </q-card-section>
            <q-card-section class="q-pt-none" v-show="lang_eng">
              <div class="text-h7">To`lov Shartlari Ingliz tilida</div>
              <q-input
                type="textarea"
                :disable="ModalType == 'View'"
                dense
                v-model="ModalData.tolov_eng"
                autofocus
                :rules="[val => !!val || 'To`ldirilsin', val => val.length <= 255 || '255 belgidan oshmasin']"
              />
            </q-card-section>
            <q-card-section class="q-pt-none">
              <div class="text-h7">Yetkazib berish Shartlari Uzbek tilida</div>
              <q-input
                type="textarea"
                :disable="ModalType == 'View'"
                dense
                v-model="ModalData.yetkazish_uzb"
                autofocus
                :rules="[val => !!val || 'To`ldirilsin', val => val.length <= 255 || '255 belgidan oshmasin']"
              />
            </q-card-section>
            <q-card-section class="q-pt-none" v-show="lang_rus">
              <div class="text-h7">Yetkazib berish Shartlari Rus tilida</div>
              <q-input
                type="textarea"
                :disable="ModalType == 'View'"
                dense
                v-model="ModalData.yetkazish_rus"
                autofocus
                :rules="[val => !!val || 'To`ldirilsin', val => val.length <= 255 || '255 belgidan oshmasin']"
              />
            </q-card-section>
            <q-card-section class="q-pt-none" v-show="lang_eng">
              <div class="text-h7">Yetkazib berish Shartlari Ingliz tilida</div>
              <q-input
                type="textarea"
                :disable="ModalType == 'View'"
                dense
                v-model="ModalData.yetkazish_eng"
                autofocus
                :rules="[val => !!val || 'To`ldirilsin', val => val.length <= 255 || '255 belgidan oshmasin']"
              />
            </q-card-section>
            <q-card-section class="q-pt-none" v-if="ModalType == 'View'">
              <div class="text-h7">Yaratilgan vaqti</div>
              <q-input
                :disable="ModalType == 'View'"
                dense
                v-model="ModalData.created_at"
                autofocus
              />
            </q-card-section>
            <q-card-section class="q-pt-none" v-if="ModalType == 'View'">
              <div class="text-h7">O`zgartilirgan vaqti</div>
              <q-input
                :disable="ModalType == 'View'"
                dense
                v-model="ModalData.updated_at"
                autofocus
              />
            </q-card-section>
          </q-page>
        </q-page-container>
       
        <q-footer  >
          <q-toolbar class="bg-white">
            <!-- <q-btn flat round dense icon="menu" /> -->
            <q-toolbar-title align="right"  class="text-primary bg-write bg-white">
              <q-btn flat :label="ModalType == 'Create' ? 'Yaratish' : 'Yangilash'" @click="SendModalData" v-if="ModalType != 'View'"/>
              <q-btn flat label="Bekor qilish" @click="Modal = false"/>
            </q-toolbar-title>
          </q-toolbar>
        </q-footer>
      </q-layout>
    </q-dialog>
    <!-- End View Add Edit Dialog -->

    <!-- Delete Dialog -->
    <q-dialog v-model="DeleteModal" persistent>
      <q-card style="min-width: 350px" @keyup.enter="SendDeleteData" @keyup.esc="DeleteModal = false">
        <q-card-section>
          <div class="text-h6">Ma`lumot o`chirish</div>
        </q-card-section>

        <q-card-section>
          <div class="text-h7">You agree to delete this information?</div>
        </q-card-section>
       
        <q-card-actions align="right" class="text-primary">
          <q-btn flat color="negative" label="O`chirish" @click="SendDeleteData"/>
          <q-btn flat label="Bekor qilish" @click="DeleteModal = false"/>
        </q-card-actions>
      </q-card>
    </q-dialog>
    <!-- End Delete Dialog -->

    <!-- More Delete Dialog -->
    <q-dialog v-model="MoreDeleteModal" persistent>
      <q-card style="min-width: 350px" @keyup.enter="SendMoreDeleteData" @keyup.esc="MoreDeleteModal = false">
        <q-card-section>
          <div class="text-h6">Ma`lumotlarni o`chirish</div>
        </q-card-section>

        <q-card-section>
          <div class="text-h7">You agree to delete this informations? Count: {{MoreDeleteData.length}}</div>
        </q-card-section>
        <q-card-actions align="right" class="text-primary">
          <q-btn flat color="negative" label="O`chirish" @click="SendMoreDeleteData"/>
          <q-btn flat label="Bekor Qilish" @click="MoreDeleteModal = false"/>
        </q-card-actions>
      </q-card>
    </q-dialog>
    <!-- End more Delete Dialog -->

    <!-- Image Dialog -->
    <q-dialog v-model="ModalImage" persistent>
      <q-card style="min-width: 655px" @keyup.esc="ModalImage = false">
        <q-card-section>
          <div class="text-h6">Rasmlar</div>
        </q-card-section>
        <q-card-section>
            <img
              style="min-width: 625px;max-width: 625px; min-height: 625px;max-height: 625px;"
              :src="ModalImageData.rasm[rasm_index].path"
            >
        </q-card-section>
        <q-card-section>
          <q-btn style="margin-right: 30px;" color="primary" label="Oldingi" :disabled="rasm_index == 0 ? true : false" @click="rasm_index--"/>
          <q-btn style="margin-right: 30px;" color="primary" label="Keyingi" :disabled="rasm_index == ModalImageData.rasm.length-1 ? true : false" @click="rasm_index++"/>
          <q-btn style="margin-right: 30px;" color="red" label="O`chirish" @click="DeleteImage()"/>
        </q-card-section>
        <q-card-actions align="right" class="text-primary">
          <q-btn flat label="Yopish" @click="ModalImage = false" />
        </q-card-actions>
       
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { defineComponent } from 'vue'
import axios from 'axios'
import { ref } from 'vue'

export default defineComponent({
  name: 'PageMahsulot',
  data() {
    return {
        permission: [],
        isPwd: true,
        search_text: '',
        table_data: [],
        table_data_default: [],
        columns: [
            {
                name: 'index',
                label: 'Tr',
                field: 'index',
                align: "left",
                style: 'width: 10px',
                sortable: true
            },
            {
                name: 'nomi_uzb',
                field: 'nomi_uzb',
                label: 'Mahsulot nomi',
                align: 'left',
                sortable: true,
            },
            {
                name: 'sort',
                field: 'sort',
                label: 'Navi',
                align: 'left',
                sortable: true,
            },
            {
                name: 'chet_valyuta',
                field: 'chet_valyuta',
                label: 'Narxi($)',
                align: 'left',
                sortable: true,
            },
            {
                name: 'chakana',
                field: 'chakana',
                label: 'Narxi(So`m)',
                align: 'left',
                sortable: true,
            },
            {
                name: 'ulgurji',
                field: 'ulgurji',
                label: 'Ulgurji(So`m)',
                align: 'left',
                sortable: true,
            },
            {
                name: 'ulgurji_kg',
                field: 'ulgurji_kg',
                label: 'Ulgurji Og`irlik',
                align: 'left',
                sortable: true,
            },
            {
                name: 'rasm',
                label: 'Rasm',
                align: 'left',
                style: 'width: 30px !important;',
            },
            {
                name: 'action',
                label: 'Action',
                align: 'left',
                style: 'width: 30px !important;',
            }
        ],
        ModalType: '',
        Modal: false,
        ModalData: null,
        DeleteModal: false,
        DeleteData: null,
        MoreDeleteModal: false,
        MoreDeleteData: [],
        lang_rus: false,
        lang_eng: false,
        Files: null,
        ModalImage: false,
        ModalImageData: null,
        rasm_index: 0,
    }
  },
  async mounted() {
    this.$q.loading.show()
    if(!this.$isPerCrud(this.$route.path, 'read', JSON.stringify(this.$store.state.example.userPermission))){
      this.$router.push('/').catch(() => {})
    }
    this.default_data_get()
    this.$q.loading.hide()
  },

  methods: {
    async default_data_get() {
      await axios.get(this.$host_local() +'/api/mahsulot/get_mahsulot').then((response) => {
        var data = response.data.data
        var table_data1 = []
        for(var i=0;i<data.length;i++){
          var json = {
            "index": i+1,
            "id": data[i].id,
            "nomi_uzb": data[i].nomi_uzb,
            "nomi_rus": data[i].nomi_rus,
            "nomi_eng": data[i].nomi_eng,
            "link": data[i].link,
            "sort": data[i].sort,
            "aktiv": data[i].aktiv,
            "hajm": data[i].hajm,
            "gost": data[i].gost,
            "chakana": data[i].chakana,
            "ulgurji": data[i].ulgurji,
            "ulgurji_kg": data[i].ulgurji_kg,
            "chet_valyuta": data[i].chet_valyuta,
            "qop": data[i].qop,
            "tavsif_uzb": data[i].tavsif_uzb,
            "tavsif_rus": data[i].tavsif_rus,
            "tavsif_eng": data[i].tavsif_eng,
            "tolov_uzb": data[i].tolov_uzb,
            "tolov_rus": data[i].tolov_rus,
            "tolov_eng": data[i].tolov_eng,
            "yetkazish_uzb": data[i].yetkazish_uzb,
            "yetkazish_rus": data[i].yetkazish_rus,
            "yetkazish_eng": data[i].yetkazish_eng,
            "deleted_at": data[i].deleted_at,
            "created_at": data[i].created_at,
            "updated_at": data[i].updated_at,
            "rasm": data[i].rasm
          }
          table_data1.push(json)
        }
        this.table_data = table_data1;
      }).catch((e)=>{
        var res = e.response
        this.$q.loading.hide()
        if(res.status == 401){
          this.$e("Avtorizaysiyada o`tmagansiz")
          this.$router.push('/login').then((s) => {}).catch((e) => {})
        }else{
          this.$e("Xatolik")
        }
        return false
      })
    },
   
    ShowModal(data, status){
      this.MoreDeleteData = []
      this.Files = []
      this.ModalType = status
      if(status == "Update" || status == "View"){
        this.ModalData={
          "index": data.index,
          "id": data.id,
          "nomi_uzb": data.nomi_uzb,
          "nomi_rus": data.nomi_rus,
          "nomi_eng": data.nomi_eng,
          "link": data.link,
          "sort": data.sort,
          "aktiv": data.aktiv,
          "hajm": data.hajm,
          "gost": data.gost,
          "chakana": data.chakana,
          "ulgurji": data.ulgurji,
          "ulgurji_kg": data.ulgurji_kg,
          "chet_valyuta": data.chet_valyuta,
          "qop": data.qop,
          "tavsif_uzb": data.tavsif_uzb,
          "tavsif_rus": data.tavsif_rus,
          "tavsif_eng": data.tavsif_eng,
          "tolov_uzb": data.tolov_uzb,
          "tolov_rus": data.tolov_rus,
          "tolov_eng": data.tolov_eng,
          "yetkazish_uzb": data.yetkazish_uzb,
          "yetkazish_rus": data.yetkazish_rus,
          "yetkazish_eng": data.yetkazish_eng,
          "deleted_at": data.deleted_at,
          "created_at": data.created_at,
          "updated_at": data.updated_at,
          "rasm": data.rasm
        }
        if(data.nomi_rus != undefined){
          this.lang_rus = true;
        }else{
          this.lang_rus = false;
        }
        if(data.nomi_eng != undefined){
          this.lang_eng = true;
        }else{
          this.lang_eng = false;
        }
      }else
      if(status =="Create"){
        this.lang_rus = false;
        this.lang_eng = false;
        this.ModalData={
          "index": '',
          "id": '-1',
          "nomi_uzb": '',
          "nomi_rus": '',
          "nomi_eng": '',
          "link": '',
          "sort": '',
          "aktiv": '',
          "hajm": '',
          "gost": '',
          "chakana": '',
          "ulgurji": '',
          "ulgurji_kg": '',
          "chet_valyuta": '',
          "qop": '',
          "tavsif_uzb": '',
          "tavsif_rus": '',
          "tavsif_eng": '',
          "tolov_uzb": '',
          "tolov_rus": '',
          "tolov_eng": '',
          "yetkazish_uzb": '',
          "yetkazish_rus": '',
          "yetkazish_eng": '',
          "deleted_at": '',
          "created_at": '',
          "updated_at": ''
        }
      }     
      this.Modal = true
    },

    async SendModalData(){
      this.$q.loading.show()
      var router = '';
      if(this.ModalType == "Update"){
        router = "/mahsulot/update_mahsulot";
      }else
      if(this.ModalType =="Create"){
        router = "/mahsulot/create_mahsulot";
      }
      await axios.post(this.$host_local() +"/api"+router, this.ModalData).then((res) => {
        if(res.status == 200 || res.status == 201){
          this.$s("Muvaffaqiyatli")
          this.Modal = false;
          if(res.status == 201){
            this.ModalData.id = res.data.id
          }
        }
      }).catch((e)=>{
        this.$q.loading.hide()
        var res = e.response
        if(res.status == 401){
          this.$e("Avtorizatsiyadan o`tmadingiz")
          this.$q.loading.hide()
          this.$router.push('/login').then((s) => {}).catch((e) => {})
        }else
        if(res.status == 422){
            if(res.data.errors.nomi_uzb){
              this.$e(res.data.errors.nomi_uzb[0])
            }
            if(res.data.errors.sort){
              this.$e(res.data.errors.sort[0])
            }
            if(res.data.errors.aktiv){
              this.$e(res.data.errors.aktiv[0])
            }
            if(res.data.errors.hajm){
              this.$e(res.data.errors.hajm[0])
            }
            if(res.data.errors.gost){
              this.$e(res.data.errors.gost[0])
            }
            if(res.data.errors.chakana){
              this.$e(res.data.errors.chakana[0])
            }
            if(res.data.errors.ulgurji){
              this.$e(res.data.errors.ulgurji[0])
            }
            if(res.data.errors.ulgurji_kg){
              this.$e(res.data.errors.ulgurji_kg[0])
            }
            if(res.data.errors.chet_valyuta[0]){
              this.$e(res.data.errors.chet_valyuta[0])
            }
            if(res.data.errors.qop){
              this.$e(res.data.errors.qop[0])
            }
            if(res.data.errors.tavsif_uzb){
              this.$e(res.data.errors.tavsif_uzb[0])
            }
            if(res.data.errors.tolov_uzb){
              this.$e(res.data.errors.tolov_uzb[0])
            }
            if(res.data.errors.yetkazish_uzb){
              this.$e(res.data.errors.yetkazish_uzb[0])
            }
        }else{
            this.$e("Xatolik")
        }
      })
      if(this.ModalData.id != -1){
        //console.log(this.Files)
        for (let i = 0; i < this.Files.length; i++) {
          let formData = new FormData()
          //console.log(this.Files[i])
          formData.append('file', this.Files[i])
          formData.append('mahsulot_id',this.ModalData.id)
          await this.$axios({
                method: 'post',
                url: this.$host_local() +"/api/mahsulot/rasm_upload",
                data: formData,
                headers: {
                  'Content-Type': 'multipart/form-data'
                }
            })
            .then((re) => {

            })
            .catch((e) => {

            })
        }
      }
      if(this.ModalType == "Create" && this.Files == null){
        this.$w("Bu Mahsulotga Rasm qo`shmadingiz")
      }
      this.table_data_default = []
      await this.default_data_get()
      this.search_func()
      this.$q.loading.hide()
    },

    ShowDeleteModal(data) {
      this.MoreDeleteData = []
      this.DeleteData={
        'id': data.id
      }
      this.DeleteModal = true
    },
    async SendDeleteData(){
      this.$q.loading.show()
      await axios.post(this.$host_local() +"/api/mahsulot/delete_mahsulot", this.DeleteData).then((res) => {
        if(res.status == 200){
          this.$s("Ma`lumot O`chirildi")
          this.DeleteModal = false;
        }
      }).catch((e)=>{
        this.$q.loading.hide()
        var res = e.response
        if(res.status == 401){
          this.$e("Avtorizatsiyadan o`tmagansiz")
          this.$q.loading.hide()
          this.$router.push('/login').then((s) => {}).catch((e) => {})
        }else
        if(res.status == 422){
            if(res.data.errors.id){
              this.$e(res.data.errors.id[0])
            }
        }else{
            this.$e("Xatolik")
        }
      })
      this.table_data_default = []
      await this.default_data_get()
      this.search_func()
      this.$q.loading.hide()
    },

    ShowMoreDeleteModal(){
      this.MoreDeleteModal = true
    },
    async SendMoreDeleteData(){
      if(this.MoreDeleteData.length == 0){
        this.$e = "Malumot bo`sh"
        return 0
      }
      this.$q.loading.show()
      await axios.post(this.$host_local() +"/api/mahsulot/more_delete_mahsulot", this.MoreDeleteData).then((res) => {
        if(res.status == 200){
          console.log(res)
          this.$s("Ma`lumotlar o`chirildi")
          this.MoreDeleteModal = false;
          this.MoreDeleteData = []
        }
      }).catch((e)=>{
        this.$q.loading.hide()
        var res = e.response
        if(res.status == 401){
          this.$e("Avtorizatsiyadan o`tmagansiz")
          this.$q.loading.hide()
          this.$router.push('/login').then((s) => {}).catch((e) => {})
        }else
        if(res.status == 422){
            if(res.data.errors.id){
              this.$e(res.data.errors.id[0])
            }
        }else{
            this.$e("Xatolik")
        }
      })
      this.table_data_default = []
      await this.default_data_get()
      this.search_func()
      this.$q.loading.hide()
    },

    search_func(){
      if(this.search_text != ""){
        if(this.table_data_default.length != 0){
          this.table_data = this.table_data_default
        }
        this.table_data_default = this.table_data
        var data = []
        for(var i=0;i<this.table_data.length;i++){
          var string1 = JSON.stringify(this.table_data[i]);
          if(this.search_text == "oqilgan"){
            if(string1.search(this.search_text) != -1 || string1.search("star") != -1){
              data.push(this.table_data[i]);
            }
          }else
          if(string1.search(this.search_text) != -1){
            data.push(this.table_data[i]);
          }
        }
        this.table_data = data
      }
    },

    search_clear(){
      if(this.search_text != ""){
        this.search_text = "";
        if(this.table_data_default.length != 0){
          this.table_data = this.table_data_default
          this.table_data_default = []
        }
      }
    },

    ShowImageModal(data){
      this.Files = null
      this.rasm_index = 0
      if(data.rasm.length == 0) {
        this.ModalImage = false
        return 0;
      }

      this.ModalImageData = {
        "index": data.index,
        "id": data.id,
        "rasm": data.rasm
      }
      this.ModalImage = true
    },

    async DeleteImage(){
      this.$q.loading.show()
      await axios.post(this.$host_local() +"/api/mahsulot/rasm_delete", {"file": this.ModalImageData.rasm[this.rasm_index].path}).then((res) => {
        if(res.status == 200){
          this.$s("Rasm O`chirildi")
          if(this.search_text != ""){
            var index = -1;
            for(var i=0;i<this.table_data.length;i++){
              if(this.table_data[i].id == this.ModalImageData.id){
                index = i
                this.table_data[index].rasm.splice(this.rasm_index,1)
                this.ModalImage = false
                this.ShowImageModal(this.table_data[index])
                break
              }
            }
          }
          else{
            this.table_data[this.ModalImageData.index-1].rasm.splice(this.rasm_index,1)
            this.ModalImage = false
            this.ShowImageModal(this.table_data[this.ModalImageData.index-1])
          }
         
        }
      }).catch((e)=>{
        this.$q.loading.hide()
        console.log(e)
        var res = e.response
        if(res.status == 401){
          this.$e("Avtorizatsiyadan o`tmagansiz")
          this.$q.loading.hide()
          this.$router.push('/login').then((s) => {}).catch((e) => {})
        }else
        if(res.status == 422){
            if(res.data.errors.file){
              this.$e(res.data.errors.id[0])
            }
        }else
        if(res.status == 402){
            this.$e(res.data)
        }else{
            this.$e("Xatolik")
        }
      })
      this.$q.loading.hide()
    }
  },
})
</script>