<template>
<!-- 
  1- Kabinet so`zi o`rniga Modul nomi almashtiriladi
  2- ###Router### joylariga routerni to`g`ri yozish
  3- Columnsni to`g`irlash
-->
  <div class="q-pa-md">
    <q-table
      title="Kabinet"
      :rows="table_data"
      :rows-per-page-options="[20,40,80,100,0]"
      row-key="id"
      :columns="columns"
      :selected-rows-label="getSelectedString"
      selection="multiple"
      v-model:selected="MoreDeleteData"
    >
      <!-- Ma`lum bir katakdagi qiymatni shu yerdan berish 
      <template v-slot:body-cell-_kataknomi_="table_data">
        <q-td :table_data="table_data" align="left" width="20px">
          {{table_data.row._jsondagikeraklimalumot_}}
        </q-td>
      </template> -->

      <!-- Action ustuniga tugmalar qo`yish  -->
      <template v-slot:body-cell-action="table_data">
        <q-td :table_data="table_data" align="left" width="20px" :style="table_data.row.holat == 'oqilmagan'? 'background: #aaa;' : 'background: #fff;'">
          <q-btn 
            color="green"
            icon="visibility"
            @click="ShowModal(table_data.row, 'View')"
            size="sm"
            danse
            class="q-ml-sm"
          />
          <q-btn
           :disabled="table_data.row.holat == 'oqilmagan'"
            color="blue"
            @click="ShowModal(table_data.row, 'Yulduz')"
            size="sm"
            danse
            class="q-ml-sm"
          >
          <q-icon
          name="grade"
          :color="table_data.row.icon_color"
          />
          </q-btn>
          <q-btn
            v-if="$isPerCrud($route.path, 'delete', JSON.stringify(this.$store.state.example.userPermission))"
            color="red"
            icon="delete"
            @click="ShowDeleteModal(table_data.row)"
            size="sm"
            danse
            class="q-ml-sm"
          />
        </q-td>
      </template>
      <template v-slot:body-cell-index="table_data">
        <q-td :table_data="table_data" align="left" :style="table_data.row.holat == 'oqilmagan'? 'background: #aaa;' : 'background: #fff;'">
          {{table_data.row.index}}
        </q-td>
      </template>
      <template v-slot:body-cell-ism="table_data">
        <q-td :table_data="table_data" align="left" :style="table_data.row.holat == 'oqilmagan'? 'background: #aaa;' : 'background: #fff;'">
          {{table_data.row.ism}}
        </q-td>
      </template>
      <template v-slot:body-cell-telefon_raqam="table_data">
        <q-td :table_data="table_data" align="left" :style="table_data.row.holat == 'oqilmagan'? 'background: #aaa;' : 'background: #fff;'">
          {{table_data.row.telefon_raqam}}
        </q-td>
      </template>
      <template v-slot:body-cell-xabar_q="table_data">
        <q-td :table_data="table_data" align="left" :style="table_data.row.holat == 'oqilmagan'? 'background: #aaa;' : 'background: #fff;'">
          {{table_data.row.xabar_q}}
        </q-td>
      </template>
      <template v-slot:body-cell-created_at="table_data">
        <q-td :table_data="table_data" align="left" :style="table_data.row.holat == 'oqilmagan'? 'background: #aaa;' : 'background: #fff;'">
          {{table_data.row.created_at}}
        </q-td>
      </template>
      <template v-slot:top >
        <q-btn
          color="primary"
          :disable="loading"
          label="Hammasi"
          @click="search_clear();"
          style="margin-right: 30px;"
        />

        <q-btn
          color="primary"
          :disable="loading"
          label="Kerakli"
          @click="search_text='star'; search_func();"
          style="margin-right: 30px;"
        />

        <q-btn
          color="primary"
          :disable="loading"
          label="O`qilgan"
          @click="search_text='oqilgan'; search_func();"
          style="margin-right: 30px;"
        />

        <q-btn
          color="primary"
          :disable="loading"
          label="O`qilmagan"
          @click="search_text='oqilmagan'; search_func();"
          style="margin-right: 30px;"
        />

        <q-btn
          v-if="$isPerCrud($route.path, 'delete', JSON.stringify(this.$store.state.example.userPermission)) && MoreDeleteData.length"
          class="q-ml-sm"
          color="red"
          :disable="loading"
          @click="ShowMoreDeleteModal()"
        >
            <q-icon
              name="delete"
            />
            <q-icon
              name="task_alt"
            />
        </q-btn>
        <q-space />
        <q-input
          dense
          rounded
          standout="bg-info text-white"
          v-model="search_text"
          input-class="text-right"
          class="q-ml-md"
          v-on:keyup.enter="search_func()"
          v-on:keyup.esc="search_clear()"
        >
          <template v-slot:append>
            <q-icon name="search" @click="search_func()"/>
            <q-icon
              v-if="search_text != ''"
              name="clear"
              class="cursor-pointer"
              @click="search_clear()"
            />
          </template>
        </q-input>
      </template>
    </q-table>

    <!-- View Add Edit Dialog -->
    <q-dialog v-model="Modal" persistent>
      <q-layout view="hHh lpR fFf" container style="max-width: 350px; height:400px" class=" q-mb-md rounded-borders bg-white" @keyup.esc="Modal = false">
        <q-header class="bg-white">
        
          <q-toolbar>
            <!-- <q-btn flat round dense icon="menu" /> -->
            <q-toolbar-title align="center"  class="text-primary bg-white">
              <div class="text-h6">Xabar</div>
              <q-btn
                color="blue"
                @click="ShowModal(ModalData, 'Yulduz')"
                size="sm"
                danse
                class="q-ml-sm"
              >
              <q-icon
              name="grade"
              :color="ModalData.icon_color"
              />
          </q-btn>
            </q-toolbar-title>
          </q-toolbar>
        </q-header>

        <q-page-container>
          <q-page class="bg-white">
            <q-card-section class="q-pt-none">
              <div class="text-h7">Ismi</div>
              {{ ModalData.ism }}
            </q-card-section>

            <q-card-section class="q-pt-none">
              <div class="text-h7">Telefon</div>
              {{ ModalData.telefon_raqam }}
            </q-card-section>

            <q-card-section class="q-pt-none">
              <div class="text-h7">Vaqti</div>
              {{ ModalData.created_at }}
            </q-card-section>

            <q-card-section class="q-pt-none">
              <div class="text-h7">Xabar</div>
              {{ ModalData.xabar }}
            </q-card-section>
            <!--<q-card-section class="q-pt-none">
              <div class="text-h7">Role</div>
              <q-select 
                filled
                v-model="ModalData.role_id" 
                :options="roles" 
                label="Select Roles" 
                emit-value
                map-options
              />
            </q-card-section> -->
          </q-page>
        </q-page-container>

        <q-footer  >
          <q-toolbar class="bg-white">
            <!-- <q-btn flat round dense icon="menu" /> -->
            <q-toolbar-title align="right"  class="text-primary bg-write bg-white">
              <q-btn flat label="Cancel" @click="Modal = false"/>
            </q-toolbar-title>
          </q-toolbar>
        </q-footer>
      </q-layout>
    </q-dialog>
    <!-- End View Add Edit Dialog -->

    <!-- Delete Dialog -->
    <q-dialog v-model="DeleteModal" persistent>
      <q-card style="min-width: 350px" @keyup.enter="SendDeleteData" @keyup.esc="DeleteModal = false">
        <q-card-section>
          <div class="text-h6">Xabarni o`chirish</div>
        </q-card-section>

        <q-card-section>
          <div class="text-h7">Ushbu Xabarni o`chirmoqchimisiz?</div>
        </q-card-section>
        <q-card-actions align="right" class="text-primary">
          <q-btn flat color="negative" label="O`chirish" @click="SendDeleteData"/>
          <q-btn flat label="Bekor Qilish" @click="DeleteModal = false"/>
        </q-card-actions>
      </q-card>
    </q-dialog>
    <!-- End Delete Dialog -->

    <!-- More Delete Dialog -->
    <q-dialog v-model="MoreDeleteModal" persistent>
      <q-card style="min-width: 350px" @keyup.enter="SendMoreDeleteData" @keyup.esc="MoreDeleteModal = false">
        <q-card-section>
          <div class="text-h6">Xabarlarni o`chirish</div>
        </q-card-section>

        <q-card-section>
          <div class="text-h7">Ushbu Xabarlarni o`chiroqchimisiz? Soni: {{MoreDeleteData.length}}</div>
        </q-card-section>
        <q-card-actions align="right" class="text-primary">
          <q-btn flat color="negative" label="O`chirish" @click="SendMoreDeleteData"/>
          <q-btn flat label="Bekor qilish" @click="MoreDeleteModal = false"/>
        </q-card-actions>
      </q-card>
    </q-dialog>
    <!-- End more Delete Dialog -->
  </div>
</template>

<script>
import { defineComponent } from 'vue'
import axios from 'axios'


export default defineComponent({
  name: 'PageKabinet',
  data() {
    return {
      permission: [],
      isPwd: true,
      search_text: '',
      table_data: [],
      table_data_default: [],
      columns: [
        {
          name: 'index',
          label: '#',
          field: 'index',
          align: "left",
          style: 'width: 10px',
          sortable: true
        },
        {
          name: 'ism',
          field: 'ism',
          label: 'Ism',
          align: 'left',
          sortable: true,
        },
        {
          name: 'telefon_raqam',
          field: 'telefon_raqam',
          label: 'Telefon',
          align: 'left',
          sortable: true,
        },
        {
          name: 'xabar_q',
          field: 'xabar_q',
          label: 'Xabar',
          align: 'left',
          sortable: true,
        },
        {
          name: 'created_at',
          field: 'created_at',
          label: 'Vaqti',
          align: 'left',
          sortable: true,
        },
        {
          name: 'action',
          label: 'Action',
          align: 'left',
          style: 'width: 20px !important;',
        },
      ],
      ModalType: '',
      Modal: false,
      ModalData: null,
      DeleteModal: false,
      DeleteData: null,
      MoreDeleteModal: false,
      MoreDeleteData: []
    }
  },
  async mounted() {
    this.$q.loading.show()
    if(!this.$isPerCrud(this.$route.path, 'read', JSON.stringify(this.$store.state.example.userPermission))){
      let data1 = JSON.stringify(this.$store.state.example.userPermission)
      var data = JSON.parse(data1)
      if(data == null) this.$router.push('/logout').catch(() => {})
      for(var i=0;i<data.length;i++){
          //console.log(data[i].url +" "+ route)
          if(data[i].read){
            this.$router.push(data[i].url).catch(() => {})
            break
          }
      }
      
    }
    this.default_data_get()
    this.$q.loading.hide()
  },

  methods: {
    async default_data_get() {
      await axios.get(this.$host_local() +'/api/aloqa/get_aloqa').then((response) => {
        var data = response.data
        var table_data = []
        for(var i=0;i<data.length;i++){
          var json = {
            "index": i+1,
            "id": data[i].id,
            "ism": data[i].ism,
            "telefon_raqam": data[i].telefon_raqam,
            "xabar": data[i].xabar,
            "xabar_q": data[i].xabar.substr(0,40) + "...",
            "holat": data[i].holat,
            "icon_color": data[i].holat == "star" ? "red" : "white",
            "created_at": this.sana_vaqtni_formati(data[i].created_at),
            "updated_at": this.sana_vaqtni_formati(data[i].updated_at)
          }
          
          table_data.push(json)
        }
        this.table_data = table_data;
      }).catch((e)=>{
        var res = e.response
        this.$q.loading.hide()
        if(res.status == 401){
          this.$e("You are not authorized")
          this.$router.push('/login').then((s) => {}).catch((e) => {})
        }else{
          this.$e("Something Errors")
        }
        return false
      })
    },
    
    async ShowModal(data, status){
      this.MoreDeleteData = []
      this.ModalType = status
      this.ModalData={
          "index": data.index,
          "id": data.id,
          "ism": data.ism,
          "telefon_raqam": data.telefon_raqam,
          "xabar": data.xabar,
          "holat": data.holat,
          "icon_color": data.icon_color,
          "created_at": data.created_at,
          "updated_at": data.updated_at
        }
      if(status == "View"){
        this.Modal = true
        if(this.ModalData.holat == "oqilmagan"){
          this.aloqa_update("oqilgan")
        } 
      }
      else
      if(status == "Yulduz"){
        if(this.ModalData.holat != "oqilmagan"){
          if(this.ModalData.holat == "oqilgan") this.aloqa_update("star")
          if(this.ModalData.holat == "star") this.aloqa_update("oqilgan")
        } 
      }
    },

    ShowDeleteModal(data) {
      this.MoreDeleteData = []
      this.DeleteData={
        "id": data.id
      }
      this.DeleteModal = true
    },
    async SendDeleteData(){
      var search = this.search_text
      this.table_data = this.table_data_default
      this.$q.loading.show()
      await axios.post(this.$host_local() +"/api/aloqa/delete_aloqa", this.DeleteData).then((res) => {
        //console.log(res.msg)
        if(res.status == 200){
          this.$s("Succesfully Delete Data")
          this.DeleteModal = false;
        }
      }).catch((e)=>{
        this.$q.loading.hide()
        var res = e.response
        if(res.status == 401){
          this.$e("You are not authorized")
          this.$q.loading.hide()
          this.$router.push('/login').then((s) => {}).catch((e) => {})
        }else
        if(res.status == 422){
            // if(res.data.errors.name){
            //   this.$e(res.data.errors.name[0])
            // }
            // if(res.data.errors.email){
            //   this.$e(res.data.errors.email[0])
            // }
            // if(res.data.errors.password){
            //   this.$e(res.data.errors.password[0])
            // }
            // if(res.data.errors.role_id){
            //   this.$e(res.data.errors.role_id[0])
            // }
        }else{
            this.$e("Something Error")
        } 
      })
      await this.default_data_get()
      this.search_text = search
      this.search_func()
      this.$q.loading.hide()
    },

    ShowMoreDeleteModal(){
      this.MoreDeleteModal = true
    },
    async SendMoreDeleteData(){
      if(this.MoreDeleteData.length == 0){
        this.$e = "Data Emty!!!"
        return 0
      }
      this.$q.loading.show()
      await axios.post(this.$host_local() +"/api/aloqa/more_delete_aloqa", this.MoreDeleteData).then((res) => {
        //console.log(res.msg)
        if(res.status == 200){
          //console.log(res)
          this.$s("Succesfully  Delete Datas: "+this.MoreDeleteData.length)
          this.MoreDeleteModal = false;
          this.MoreDeleteData = []
        }
      }).catch((e)=>{
        this.$q.loading.hide()
        var res = e.response
        if(res.status == 401){
          this.$e("You are not authorized")
          this.$q.loading.hide()
          this.$router.push('/login').then((s) => {}).catch((e) => {})
        }else
        if(res.status == 422){
            // if(res.data.errors.name){
            //   this.$e(res.data.errors.name[0])
            // }
            // if(res.data.errors.email){
            //   this.$e(res.data.errors.email[0])
            // }
            // if(res.data.errors.password){
            //   this.$e(res.data.errors.password[0])
            // }
            // if(res.data.errors.role_id){
            //   this.$e(res.data.errors.role_id[0])
            // }
        }else{
            this.$e("Something Error")
        } 
      })
      this.table_data_default = []
      await this.default_data_get()
      this.search_func()
      this.$q.loading.hide()
    },
    search_func(){
      if(this.search_text != ""){
        if(this.table_data_default.length != 0){
          this.table_data = this.table_data_default
        }
        this.table_data_default = this.table_data
        var data = []
        for(var i=0;i<this.table_data.length;i++){
          var string1 = JSON.stringify(this.table_data[i]);
          if(this.search_text == "oqilgan"){
            if(string1.search(this.search_text) != -1 || string1.search("star") != -1){
              data.push(this.table_data[i]);
            }
          }else
          if(string1.search(this.search_text) != -1){
            data.push(this.table_data[i]);
          }
        }
        this.table_data = data
      }
    },

    search_clear(){
      if(this.search_text != ""){
        this.search_text = "";
        if(this.table_data_default.length != 0){
          this.table_data = this.table_data_default
          this.table_data_default = []
        }
      }
    },

    sana_vaqtni_formati(vaqt){
      return vaqt.substr(0,10) + " " +vaqt.substr(11,5)
    },

    async aloqa_update(holat_string){
      var data_send  = {
          "id": this.ModalData.id,
          "holat": holat_string
          }
      var router = 'aloqa/read_aloqa';
      await axios.post(this.$host_local() +"/api/"+router, data_send).then((res) => {
        if(res.status == 200 || res.status == 201){
          var search = this.search_text
          var index = this.ModalData.index - 1
          if(this.table_data_default.length != 0){
            this.table_data = this.table_data_default
          }
          
          this.table_data[index].holat = holat_string
          this.table_data[index].icon_color = this.table_data[index].holat == "star" ? "red" : "white"
          this.ModalData.holat = this.table_data[index].holat
          this.ModalData.icon_color = this.table_data[index].icon_color
          this.search_func()
        }
      }).catch((e)=>{
        var res = e.response
        if(res.status == 401){
          this.$e("You are not authorized")
          this.$router.push('/login').then((s) => {}).catch((e) => {})
        }else
        if(res.status == 422){
            // if(res.data.errors.name){
            //   this.$e(res.data.errors.name[0])
            // }
            // if(res.data.errors.email){
            //   this.$e(res.data.errors.email[0])
            // }
            // if(res.data.errors.password){
            //   this.$e(res.data.errors.password[0])
            // }
            // if(res.data.errors.role_id){
            //   this.$e(res.data.errors.role_id[0])
            // }
        }else{
            this.$e("Something Error")
        } 
    })
    }
  },
})
</script>